<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Weather Report</span>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4 mb-3" *ngFor="let weather of weatherGrid; let index = index">
      <div class="card bg-dark text-white">
        <img class="bg-img" *ngIf="!weather.name" src="assets/blur.jpg" />
        <img class="bg-img" *ngIf="weather && weather.name && weather.weather[0].main === 'Rain'" src="assets/rain.jpg" />
        <img class="bg-img" *ngIf="weather && weather.name && weather.weather[0].main === 'Mist'" src="assets/mist.jpg" />
        <img class="bg-img" *ngIf="weather && weather.name && weather.weather[0].main === 'Clouds'" src="assets/clouds.jpg" />
        <img class="bg-img" *ngIf="weather && weather.name && weather.weather[0].main === 'Haze'" src="assets/haze.jpg" />
        <div class="card-img-overlay">
          <div class="input-group mb-3">
            <input type="text" class="form-control" value="{{weather.name || ''}}" placeholder="Country Name"
              (change)="weatherObj($event.target.value, index)">
            <div class="input-group-append" (click)="getWeather(weather.name, index)">
              <span class="input-group-text btn">Search</span>
            </div>
          </div>
          <span *ngFor="let icon of weather.weather">
            <h5 class="card-title">
              <img src="http://openweathermap.org/img/wn/{{icon.icon}}.png" />
              {{icon.description}}</h5>
          </span>
          <p class="card-text" *ngIf="weather.dt">Last updated on: {{weather.dt | date: 'medium'}}</p>
          <div *ngIf="weather.coord">
            Londitude: {{weather.coord.lat}}, Latitude: {{weather.coord.lon}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
